---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Mission of ZeroXClem.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Democratizing Knowledge with AI
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We believe that knowledge is the key to unlocking your full potential in the tech world.
        Our platform is designed with global accesibility in mind. Anyone over planet earth should be able to learn AI.
        Whether you're a tech enthusiast, hobbyist, or founder, ZeroXClem is here to guide you every step of the way.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        A Simple Vision
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our mission is to revolutionize the way people learn and navigage the tech industry. We understand this journey
        can be daunting, filled with complexities and overwhelming amounts of information. That's why we're dedicated to condensing
        and simplyfing that knowledge, making it easily digestible and enjoyable. Making it easy to focus on what truly matters 
        - building and creating. 
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Our Approach
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        At ZeroXClem, we approach learning with unwavering discipline and relentless focus. We believe in starting simple
        and building a strong foundation. Our platform is deisgned to be user-friendly, with a seamless user experience 
        across all devices. We offer free learning materials to get you started. With ZeroXClem you can accelerate your learning
        and make progress at your own pace.
      </p>
    </div>
  </Container>
</Layout>
