---
import apps from "@components/apps.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

const apps = [
  {
    id: 1,
    name: "App 1",
    thumbnail: "/path/to/app1-thumbnail.jpg",
    purchased: true,
  },
  {
    id: 2,
    name: "App 2",
    thumbnail: "/path/to/app2-thumbnail.jpg",
    purchased: false,
  },
  {
    id: 3,
    name: "App 3",
    thumbnail: "/path/to/app3-thumbnail.jpg",
    purchased: true,
  },
  // Add more apps here
];
---

<Layout title="Apps">
  <Container>
    <Sectionhead>
      <h1>Apps</h1>
    </Sectionhead>
    <section>
      <h2>All Apps</h2>
      <ul>
        <!-- Loop through the list of apps -->
        {#each apps as app}
          <li>
            <a href={`/apps/${app.id}`} class="app-link">
              <img src={app.thumbnail} alt={app.name} class="app-thumbnail" />
              <h3>{app.name}</h3>
            </a>
            <div class="app-actions">
              <!-- Show different actions based on app status -->
              {#if app.purchased}
                <button class="app-action app-download">
                  <Icon name="download" /> Download
                </button>
              {:else}
                <button class="app-action app-purchase">
                  <Icon name="cart" /> Purchase
                </button>
              {/if}
            </div>
          </li>
        {/each}
      </ul>
    </section>
  </Container>
</Layout>

<style>
  /* Add your custom styles here */
</style>


