---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Calling Hobbyists, Founders, Solopreneurs",
    description:
      "We understand that the tech world can be overwhelming, but with our platform, you can navigate it with ease.",
    icon: "mdi:brain",
  },
  {
    title: "Limitless Learning Curve",
    description:
      "Our free learning materials provide a strong foundation, while our paid access offers more advanced content for those who want to dive deeper.",
    icon: "mdi:cloud",
  },
  {
    title: "Transform Idea to Iteration",
    description:
      "Designed to be accessible and functional across all devices. One-click access to the information you need, saving time and energy.",
    icon: "mdi:memory",
  },
  {
    title: "Monetize Your Potential",
    description:
      "Enjoy the best repos for free, and if you're hungry for more, unlock our how-to guides with our paid subscription.",
    icon: "mdi:handshake",
  },
];
---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Join the ZeroXClem Community:
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Sign up now and unlock a world of concise, accessible, and efficient information. Let's make your tech dreams a reality together.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

