---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Streamline Your Workflow, Forever",
    description:
      "Effortlessly automate repetitive tasks, freeing up valuable time for more important work.Simplify complex processes with intuitive and user-friendly tools designed for maximum efficiency.",
    icon: "mdi:brain",
  },
  {
    title: "Achieve Unprecedented Results",
    description:
      "Unlock new levels of productivity and performance, surpassing your previous limits.Leverage cutting-edge API's that provide a competitive edge and propel your success.",
    icon: "mdi:cloud",
  },
  {
    title: "Zero X Your Time and Resources",
    description:
      "Reduce manual effort and eliminate unnecessary costs, maximizing your return on investment. Optimize resource allocation and make informed decisions with real-time insights and analytics.",
    icon: "mdi:memory",
  },
  {
    title: "Seamlessly Collaborate & Communicate",
    description:
      "Foster collaboration and enhance communication across teams, regardless of location or time zone. Drive efficiency through streamlined workflows and interactive features that facilitate seamless collaboration.",
    icon: "mdi:handshake",
  },
];
---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Join over 10,000 satisfied customers who have experienced:
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    40% increase in productivity.
    30% reduction in costs.
    25% faster time-to-market.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<iframe
 src="https://udify.app/chatbot/pqJ5FIZEUniLp32W"
 style="width: 100%; height: 100%; min-height: 700px"
 frameborder="0" 
 allow="microphone">
</iframe>

