---
import { onMount } from 'astro/client';
const themes = ['light', 'dark', 'solarized'];
---
<button id="themeToggle" aria-label="Toggle Theme">
  <span id="currentTheme">🌙</span>
</button>

<style>
  #themeToggle {
    border: 0;
    background: none;
    cursor: pointer;
  }
  /* Define theme-specific styles */
  :root.light {
    --color-text: #111827;
    --color-bg: #ffffff;
    --color-accent: #3b82f6;
  }
  :root.dark {
    --color-text: #f3f4f6;
    --color-bg: #1f2937;
    --color-accent: #2563eb;
  }
  :root.solarized {
    --color-text: #657b83;
    --color-bg: #fdf6e3;
    --color-accent: #268bd2;
  }
  body {
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
</style>

<script is:inline>
  onMount(() => {
    const themeToggle = document.getElementById("themeToggle");
    const currentThemeSpan = document.getElementById("currentTheme");
    const storedTheme = localStorage.getItem("theme");
    const defaultTheme = storedTheme || 'light';

    document.documentElement.classList.add(defaultTheme);
    updateThemeIcon(defaultTheme);

    themeToggle.addEventListener("click", () => {
      const currentClass = Array.from(document.documentElement.classList).find(cls => themes.includes(cls));
      let nextThemeIndex = (themes.indexOf(currentClass) + 1) % themes.length;
      const nextTheme = themes[nextThemeIndex];

      document.documentElement.classList.remove(currentClass);
      document.documentElement.classList.add(nextTheme);
      localStorage.setItem("theme", nextTheme);
      updateThemeIcon(nextTheme);
    });

    function updateThemeIcon(theme) {
      switch(theme) {
        case 'light':
          currentThemeSpan.textContent = '☀️';
          break;
        case 'dark':
          currentThemeSpan.textContent = '🌙';
          break;
        case 'solarized':
          currentThemeSpan.textContent = '🌅';
          break;
        default:
          currentThemeSpan.textContent = '🌙';
      }
    }
  });
</script>
